<% layout("layouts/boilerplate")%>
    <div class="card" style="width: 18rem;">
        <img src="<%= restaurant.image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <%= restaurant.title %>
            </h5>
            <p class="card-text">
                <%= restaurant.description %>
            </p>
        </div>
        <div class="card-body">
            <a href="/restaurants/<%= restaurant._id %>/edit" class="card-link btn btn-info">Edit</a>
            </button>
            <form class="d-inline" action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                <button class="card-link btn btn-danger">Delete</button>
            </form>
        </div>
    </div>